<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="category">
            <h2><span>Category</span> {{ category.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Name Category</span></dt>
                <dd>
                    <span>{{ category.nameCategory }}</span>
                </dd>
                <dt><span>Cheap</span></dt>
                <dd>
                    <span>{{ category.cheap }}</span>
                </dd>
                <dt><span>Luxury</span></dt>
                <dd>
                    <span>{{ category.luxury }}</span>
                </dd>
                <dt><span>Lonely</span></dt>
                <dd>
                    <span>{{ category.lonely }}</span>
                </dd>
                <dt><span>Friends</span></dt>
                <dd>
                    <span>{{ category.friends }}</span>
                </dd>
                <dt><span>Romantic</span></dt>
                <dd>
                    <span>{{ category.romantic }}</span>
                </dd>
                <dt><span>Kids</span></dt>
                <dd>
                    <span>{{ category.kids }}</span>
                </dd>
                <dt><span>Sport</span></dt>
                <dd>
                    <span>{{ category.sport }}</span>
                </dd>
                <dt><span>Relaxation</span></dt>
                <dd>
                    <span>{{ category.relaxation }}</span>
                </dd>
                <dt><span>Art</span></dt>
                <dd>
                    <span>{{ category.art }}</span>
                </dd>
                <dt><span>Food</span></dt>
                <dd>
                    <span>{{ category.food }}</span>
                </dd>
                <dt><span>Nature</span></dt>
                <dd>
                    <span>{{ category.nature }}</span>
                </dd>
                <dt><span>City</span></dt>
                <dd>
                    <span>{{ category.city }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/category', category.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
