<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-category-heading">Create or edit a Category</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_nameCategory">Name Category</label>
                    <input type="text" class="form-control" name="nameCategory" id="field_nameCategory"
                           formControlName="nameCategory"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_cheap">Cheap</label>
                    <input type="checkbox" class="form-control" name="cheap" id="field_cheap"
                           formControlName="cheap"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_luxury">Luxury</label>
                    <input type="checkbox" class="form-control" name="luxury" id="field_luxury"
                           formControlName="luxury"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_lonely">Lonely</label>
                    <input type="checkbox" class="form-control" name="lonely" id="field_lonely"
                           formControlName="lonely"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_friends">Friends</label>
                    <input type="checkbox" class="form-control" name="friends" id="field_friends"
                           formControlName="friends"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_romantic">Romantic</label>
                    <input type="checkbox" class="form-control" name="romantic" id="field_romantic"
                           formControlName="romantic"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_kids">Kids</label>
                    <input type="checkbox" class="form-control" name="kids" id="field_kids"
                           formControlName="kids"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_sport">Sport</label>
                    <input type="checkbox" class="form-control" name="sport" id="field_sport"
                           formControlName="sport"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_relaxation">Relaxation</label>
                    <input type="checkbox" class="form-control" name="relaxation" id="field_relaxation"
                           formControlName="relaxation"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_art">Art</label>
                    <input type="checkbox" class="form-control" name="art" id="field_art"
                           formControlName="art"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_food">Food</label>
                    <input type="checkbox" class="form-control" name="food" id="field_food"
                           formControlName="food"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_nature">Nature</label>
                    <input type="checkbox" class="form-control" name="nature" id="field_nature"
                           formControlName="nature"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_city">City</label>
                    <input type="checkbox" class="form-control" name="city" id="field_city"
                           formControlName="city"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
