<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-ubicaciones-heading">Create or edit a Ubicaciones</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_titulo">Titulo</label>
                    <input type="text" class="form-control" name="titulo" id="field_titulo"
                           formControlName="titulo"/>
                    <div *ngIf="editForm.get('titulo')!.invalid && (editForm.get('titulo')!.dirty || editForm.get('titulo')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('titulo')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_descripcion">Descripcion</label>
                    <input type="text" class="form-control" name="descripcion" id="field_descripcion"
                           formControlName="descripcion"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_coordenadaX">Coordenada X</label>
                    <input type="number" class="form-control" name="coordenadaX" id="field_coordenadaX"
                           formControlName="coordenadaX"/>
                    <div *ngIf="editForm.get('coordenadaX')!.invalid && (editForm.get('coordenadaX')!.dirty || editForm.get('coordenadaX')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('coordenadaX')?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('coordenadaX')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_coordenadaY">Coordenada Y</label>
                    <input type="number" class="form-control" name="coordenadaY" id="field_coordenadaY"
                           formControlName="coordenadaY"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_duracion">Duracion</label>
                    <input type="number" class="form-control" name="duracion" id="field_duracion"
                           formControlName="duracion"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_qr">Qr</label>
                    <input type="text" class="form-control" name="qr" id="field_qr"
                           formControlName="qr"/>
                    <div *ngIf="editForm.get('qr')!.invalid && (editForm.get('qr')!.dirty || editForm.get('qr')!.touched)">
                    </div>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
