<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="duration">
            <h2><span>Duration</span> {{ duration.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Description Duration</span></dt>
                <dd>
                    <span>{{ duration.descriptionDuration }}</span>
                </dd>
                <dt><span>Minutes</span></dt>
                <dd>
                    <span>{{ duration.minutes }}</span>
                </dd>
                <dt><span>Hours</span></dt>
                <dd>
                    <span>{{ duration.hours }}</span>
                </dd>
                <dt><span>Days</span></dt>
                <dd>
                    <span>{{ duration.days }}</span>
                </dd>
                <dt><span>Weeks</span></dt>
                <dd>
                    <span>{{ duration.weeks }}</span>
                </dd>
                <dt><span>Years</span></dt>
                <dd>
                    <span>{{ duration.years }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/duration', duration.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
