<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="ubicaciones">
            <h2><span>Ubicaciones</span> {{ ubicaciones.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Titulo</span></dt>
                <dd>
                    <span>{{ ubicaciones.titulo }}</span>
                </dd>
                <dt><span>Descripcion</span></dt>
                <dd>
                    <span>{{ ubicaciones.descripcion }}</span>
                </dd>
                <dt><span>Coordenada X</span></dt>
                <dd>
                    <span>{{ ubicaciones.coordenadaX }}</span>
                </dd>
                <dt><span>Coordenada Y</span></dt>
                <dd>
                    <span>{{ ubicaciones.coordenadaY }}</span>
                </dd>
                <dt><span>Duracion</span></dt>
                <dd>
                    <span>{{ ubicaciones.duracion }}</span>
                </dd>
                <dt><span>Qr</span></dt>
                <dd>
                    <span>{{ ubicaciones.qr }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/ubicaciones', ubicaciones.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
