<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="valuation">
            <h2><span>Valuation</span> {{ valuation.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Comment</span></dt>
                <dd>
                    <span>{{ valuation.comment }}</span>
                </dd>
                <dt><span>Rating</span></dt>
                <dd>
                    <span>{{ valuation.rating }}</span>
                </dd>
                <dt><span>Travel Route</span></dt>
                <dd>
                    <div *ngIf="valuation.travelRoute">
                        <a [routerLink]="['/travel-route', valuation.travelRoute?.id, 'view']">{{ valuation.travelRoute?.id }}</a>
                    </div>
                </dd>
                <dt><span>User Profile</span></dt>
                <dd>
                    <div *ngIf="valuation.userProfile">
                        <a [routerLink]="['/user-profile', valuation.userProfile?.id, 'view']">{{ valuation.userProfile?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/valuation', valuation.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
