<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="usuarios">
            <h2><span>Usuarios</span> {{ usuarios.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Nombre</span></dt>
                <dd>
                    <span>{{ usuarios.nombre }}</span>
                </dd>
                <dt><span>Apellidos</span></dt>
                <dd>
                    <span>{{ usuarios.apellidos }}</span>
                </dd>
                <dt><span>Email</span></dt>
                <dd>
                    <span>{{ usuarios.email }}</span>
                </dd>
                <dt><span>Usuario</span></dt>
                <dd>
                    <span>{{ usuarios.usuario }}</span>
                </dd>
                <dt><span>Password</span></dt>
                <dd>
                    <span>{{ usuarios.password }}</span>
                </dd>
                <dt><span>Fecha Registro</span></dt>
                <dd>
                    <span>{{ usuarios.fechaRegistro }}</span>
                </dd>
                <dt><span>Ciudad</span></dt>
                <dd>
                    <span>{{ usuarios.ciudad }}</span>
                </dd>
                <dt><span>Url Foto Perfil</span></dt>
                <dd>
                    <span>{{ usuarios.urlFotoPerfil }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/usuarios', usuarios.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
