<div>
    <h2 id="page-heading">
        <span>Locations</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-location" [routerLink]="['/location/new']">
            <fa-icon icon="plus"></fa-icon>
            <span class="hidden-sm-down">
            Create a new Location
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">

                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="locations?.length === 0">
        <span>No locations found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="locations?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="stepPosition"><span>Step Position</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="titleLocation"><span>Title Location</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="descriptionLocation"><span>Description Location</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="xCoordinate"><span>X Coordinate</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="yCoordinate"><span>Y Coordinate</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="stepDuration"><span>Step Duration</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="qrCode"><span>Qr Code</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="qrDescription"><span>Qr Description</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="createdAt"><span>Created At</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="updatedAt"><span>Updated At</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="duration.id"><span>Duration</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="photo.id"><span>Photo</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="country.id"><span>Country</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="travelRoute.id"><span>Travel Route</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let location of locations ;trackBy: trackId">
                    <td><a [routerLink]="['/location', location.id, 'view']">{{ location.id }}</a></td>
                    <td>{{ location.stepPosition }}</td>
                    <td>{{ location.titleLocation }}</td>
                    <td>{{ location.descriptionLocation }}</td>
                    <td>{{ location.xCoordinate }}</td>
                    <td>{{ location.yCoordinate }}</td>
                    <td>{{ location.stepDuration }}</td>
                    <td>{{ location.qrCode }}</td>
                    <td>{{ location.qrDescription }}</td>
                    <td>{{ location.createdAt | date:'medium' }}</td>
                    <td>{{ location.updatedAt | date:'medium' }}</td>
                    <td>
                        <div *ngIf="location.duration">
                            <a [routerLink]="['/duration', location.duration?.id, 'view']" >{{ location.duration?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="location.photo">
                            <a [routerLink]="['/photo', location.photo?.id, 'view']" >{{ location.photo?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="location.country">
                            <a [routerLink]="['/country', location.country?.id, 'view']" >{{ location.country?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="location.travelRoute">
                            <a [routerLink]="['/travel-route', location.travelRoute?.id, 'view']" >{{ location.travelRoute?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/location', location.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/location', location.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(location)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="locations?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
